.dashboard{
  .date-picker{
    width: 200px;
    display: inline;
    margin-right: 60px;
  }
  .device-profile {
    padding: 10px 20px;
    font-size: 14px;
    border-left: 5px solid #888888;
  }
  .logo {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 83px;
  }
}
